body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
}
.navbar-brand {
  font-weight: 1000;
  font-size: 2rem;
  color: #ff5733 !important;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-input {
  border-radius: 20px;
  padding: 10px;
}
.search-input:focus {
  width: 350px;
}
.card {
  border: none;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
  box-shadow:#f0efef 2px 4px;
}
.card img {
  height: 240px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card-price{
background-color: rgb(240, 240, 240);
border-radius: 10px;
}
button{
align-items: center;
opacity: 0;
background-color: yellow;
}
button:hover {
  opacity:1;
}
.card:hover {
  transform: translateY(-5px);
  transform: scale(1.1);
  transition: transform 0.5s ease;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
.card:hover img {
  transform: scale(1.1);
}
.card-text {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}
.section-title {
  text-align: center;
  margin: 40px 0;
  font-weight: 600;
  font-size: 2rem;
  color: #222;
}
footer {
  background-color: #222;
  color: #fff;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 576px) {
  .navbar-brand {
      font-size: 1.5rem;
  }
}
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  padding: 20px;
}

.auth-paper {
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.auth-button {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  color: white;
  transition: background 0.3s ease;
}

.auth-button:hover {
  background: linear-gradient(45deg, #f06595, #ff6b6b);
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s;
  width: 100%;
}

.google-login-button:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.google-logo {
  width: 20px;
  height: 20px;
}
